/*.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }*/
body{
  display: flex;
  height: 100%;
  background-color: #D7C59C;
}
.navbar{
  margin: 0;
}
.navbar-default {
  background-color: #6a6a6c;
  border-color: #e7e7e7;
  /*height: 70px;*/
}
.navbar-default .navbar-nav>li>a{
  color: #D7C59C;
}
.navbar-default .navbar-brand{
  color: #D7C59C;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #D7C59C;
}
.bear_offset_top  > p{
  position: relative;
  bottom: 15px;
}

.bear_offset_top  > img{
  position: relative;
  bottom: 20px;
  border-radius: 5px;
  height: 100px;
  width: 100px;
}
.products_i_love{

}
