<div class="container">
	<div class=" text-center">
		<header>
			<h3 class="">Welcome To Your Cart</h3>
		</header>
		<table class="table">
			<div class="well" ng-repeat="prod in cart">
				<div class="row">

					<div class="col-sm-12">
						<div class="col-sm-6">
							<img class="img-responsive img-thumbnail" style="max-height:250px;" ng-src="{{prod.url}}"/>
						</div>
						<div class="col-sm-6">
							<div class="com-sm-12">
								<p>Product: {{prod.name}}</p>
							</div>
							<hr>
							<div class="col-sm-12">
								<div class="panel-lg panel-default co-sm-12">
									<div class="panel-body col-sm-12">
										<ul>
											<li>Handmade Item</li>
											<li>Only ships within United States.</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="">
					<p class="col-xs-6">
						quantity:
						<!-- <input class="" type=number ng-model="prod.quantity" ng-change="updateItem(prod, prod.id, prod.quantity)"> -->
						<select class="form-control col-xs-6" ng-model="prod.quantity" ng-init="prod.quantity = prod.quantity || quantityOptions[0]" ng-options="option for option in quantityOptions" ng-change="updateItem(prod, prod.id, prod.quantity)">
						</select>
					</p>
				</div>
				<div class="col-xs-">
					<p>Price:
						<span>${{prod.total.toFixed(2)}}</span>
					</p>
				</div>
					<div class="">
						<a href=""><i ng-click="removeItem(prod.id)" class="">Remove Item</i></a>
					</div>
			</div>
		</table>
	</div>
</div>

<div class="row text-center hidden-xs">
	<div class="col-sm-12">
		<div class="col-xs-4 col-sm-4">
			<button ui-sref="products" class="btn btn-primary">View Products</button>
		</div>
		<div class="col-xs-4 col-sm-4">
			<h3 style="margin-top:0px; margin-bottom:40px;">Total cost: ${{total}}</h3>
		</div>
		<div class="col-xs-4 col-sm-4">
			<a ui-sref="order" class="btn btn-success">Submit Shipping Info</a>
		</div>
	</div>
</div>
<div class="row text-center hidden-sm hidden-md hidden-lg hidden-xl">
	<div class="col-sm-12">
		<div class="col-xs-4">
			<button ui-sref="products" class="btn btn-primary">Products</button>
		</div>
		<div class="col-xs-4">
			<h4 style="margin-top:0px; margin-bottom:40px;">Total cost: ${{total}}</h4>
		</div>
		<div class="col-xs-4">
			<a ui-sref="order" class="btn btn-success">Shipping</a>
		</div>
	</div>
</div>
