
<ry-nav></ry-nav>

<body class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <img class="img-responsive" src="../img/isbl_3360x840.24691875_qrt8d6xn.jpg" class="home-image-wrap" alt="Bear image"><img src="" alt=""></img>
      <div class="bear_offset_top">
        <img src="img/isla_180x180.23775976_83pwf17s.jpg" alt="bear bones" class="center-block">
        <div class="text-center" >
          <h3>BearBonesDesigns</h3>
          <h5>Durable jewelry for the adventurous & fearless</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" class="home-image-wrap">
        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" class="home-image-wrap">
          <img class="home-image-wrap" ng-src="{{slide.image}}">
          <div class="carousel-caption">
            <!-- <h4>Slide {{slide.id}}</h4> -->
            <!-- <p>{{slide.text}}</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="About" class="row">
    <div class="col-xs-12 col-sm-12">
      <h3 class="about-our-shop-center" >About Our Shop
      </h3>
      <div class="row">
        <div class="col-xs-10 col-xs-push-1 col-xs-pull-1">
          <hr>
        </div>
      </div>
      <div class="row hidden-md hidden-sm hidden-lg">
        <div class="col-xs-12 col-md-6">
          <img class="img-responsive img-circle owner-img" src="./img/owner/owner.jpg" alt="">
          <div class="about-our-shop-center">
            <h4 >Owner</h4>
          </div>
        </div>
      </div>
      <div class="row hidden-md hidden-sm hidden-lg">
        <div class="col-xs-10 col-xs-push-1 col-xs-pull-1">
          <h5 class="about-our-shop-center">
            Hello beautiful people! I am Sloan Reed, I live an adventurous & fearless lifestyle of climbing, hiking, and snowboarding. Making BearBones leather products was inspired by wanting jewelry that would fit my adventurous life and not break on me. I hope you enjoy my vision and share this life with me ❤🌻🌲❄️
          </h5>
        </div>
      </div>
      <!-- example of using bootstap 3 to show and hide elements on screen size -->
      <div class="row hidden-xs hidden-sm">
        <div class="col-xs-12">
          <div class="col-md-5 col-md-offset-1" style="padding-right: 75px; padding-left: 35px;">
            <img class="img-responsive img-circle owner-img" style=" " src="./img/owner/owner.jpg" alt="">
            <div class="about-our-shop-center">
              <h3 >Owner</h3>
            </div>
            <h3 class="about-our-shop-center">
              Hello beautiful people! I am Sloan Reed, I live an adventurous & fearless lifestyle of climbing, hiking, and snowboarding. Making BearBones leather products was inspired by wanting jewelry that would fit my adventurous life and not break on me. I hope you enjoy my vision and share this life with me ❤🌻🌲❄️
            </h3>

          </div>
          <div class="col-md-6">
            <iframe width="600" height="450" frameborder="0" style="border-radius:15px; margin-bottom: 15px;" src="https://www.google.com/maps/embed/v1/place?q=1071%20E%201700%20S%20Salt%20Lake%20City%2C%20UT%2084105&key=AIzaSyAOXN5MnqpvKY6EDJbXcc8gCLMkaRLsY1Q" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="row hidden-xs hidden-md hidden-lg">
        <div class="col-xs-12">
          <div class="col-sm-6" style="padding-left:90px;">
            <img class="img-responsive img-circle owner-img" style=" " src="./img/owner/owner.jpg" alt="">
            <div class="about-our-shop-center">
              <h3 >Owner</h3>
            </div>
            <h4 class="about-our-shop-center">
              Hello beautiful people! I am Sloan Reed, I live an adventurous & fearless lifestyle of climbing, hiking, and snowboarding. Making BearBones leather products was inspired by wanting jewelry that would fit my adventurous life and not break on me. I hope you enjoy my vision and share this life with me ❤🌻🌲❄️
            </h4>

          </div>
          <div class="col-sm-6">
            <iframe width="375" height="350" frameborder="0" style="border-radius:15px; margin-bottom:15px; margin-top:15px;" src="https://www.google.com/maps/embed/v1/place?q=1071%20E%201700%20S%20Salt%20Lake%20City%2C%20UT%2084105&key=AIzaSyAOXN5MnqpvKY6EDJbXcc8gCLMkaRLsY1Q" allowfullscreen></iframe>
          </div>
        </div>
      </div>


    </div>
  </div>
</body>
<ry-footer></ry-footer>
